.authorizeDiscord {
    width: 20rem;
    transition: transform 0.2s;
}

.authorizeDiscord:hover {
    transform: scale(1.02);
}

.closeDiscord {
    width: 19rem;
    transition: transform 0.2s;
}

.closeDiscord:hover {
    transform: scale(1.01);
}