/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "SFHollywoodHills";
  src: url("/static/SFHollywoodHills.ttf");
}

/* colors */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --ifm-color-primary: #21c063;
  --ifm-color-primary-dark: #1ead59;
  --ifm-color-primary-darker: #1ca354;
  --ifm-color-primary-darkest: #178645;
  --ifm-color-primary-light: #24d36d;
  --ifm-color-primary-lighter: #29da72;
  --ifm-color-primary-lightest: #45df85;
  --ifm-background-color: #0a0a0a;
}

html[data-theme="dark"] {
  --ifm-background-color: #0a0a0a;
  --ifm-background-surface-color: #0a0a0a;
  --ifm-button-background-color: #0a0a0a;
  --ifm-footer-background-color: #0a0a0a;
}

/* fix: 'white blurp' */
html {
  background-color: #0a0a0a !important;
}

/* page fade load anim */
body {
  animation: fadeIn ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* colors: homepage */
.main-wrapper main {
  background-color: #0a0a0a;
}

.hero--primary {
  background-image: url("../../static/img/index-background.png");
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden !important;
  background-position: center;
  position: relative;
}

/* homepage */
.hero__title {
  margin: 0px !important;
}

.hero__title img {
  /* remove text highlight */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0;
  padding: 0;

  height: 10.5rem !important;
  transition: transform 0.2s;
}

.hero__title img:hover {
  transform: scale(1.02);
}

.main-wrapper {
  display: grid !important;
}

.homepageButton {
  margin: 0rem 0.25rem 4.5rem 0.25rem;
}

@media only screen and (max-width: 600px) {
  .homepageButton {
    display: none !important;
  }

  .hero__title img {
    height: 6rem !important;
    margin-bottom: 3vh;
  }
}

@media only screen and (max-width: 385px) {
  .hero__title img {
    display: none;
  }
}

/* navbar */
.navbar__title {
  color: white;
  font-size: 1.5rem;
  font-family: "SFHollywoodHills", cursive;
  transition: transform 0.2s;
}

.navbar__title:hover {
  color: white;
  transform: scale(1.02);
}

.navbar__item {
  color: white;
  margin-top: 0.2vh;
  font-weight: bold !important;
  font-family: "Josefin Sans", sans-serif;
  transition: opacity 0.2s ease-in-out;
}

.navbar__item:hover {
  opacity: 0.6;
  color: white;
  transition: opacity 0.2s ease-in-out;
}

.header-faq-link {
  transition: opacity 0.2s ease-in-out;
}

.header-faq-link:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.header-faq-link:before {
  content: " ";
  width: 26px;
  height: 26px;
  display: flex;
  background: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="utf-8"%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width="26px" height="26px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill="rgba(240,240,240)" d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm23.744 191.488c-52.096 0-92.928 14.784-123.2 44.352-30.976 29.568-45.76 70.4-45.76 122.496h80.256c0-29.568 5.632-52.8 17.6-68.992 13.376-19.712 35.2-28.864 66.176-28.864 23.936 0 42.944 6.336 56.32 19.712 12.672 13.376 19.712 31.68 19.712 54.912 0 17.6-6.336 34.496-19.008 49.984l-8.448 9.856c-45.76 40.832-73.216 70.4-82.368 89.408-9.856 19.008-14.08 42.24-14.08 68.992v9.856h80.96v-9.856c0-16.896 3.52-31.68 10.56-45.76 6.336-12.672 15.488-24.64 28.16-35.2 33.792-29.568 54.208-48.576 60.544-55.616 16.896-22.528 26.048-51.392 26.048-86.592 0-42.944-14.08-76.736-42.24-101.376-28.16-25.344-65.472-37.312-111.232-37.312zm-12.672 406.208a54.272 54.272 0 0 0-38.72 14.784 49.408 49.408 0 0 0-15.488 38.016c0 15.488 4.928 28.16 15.488 38.016A54.848 54.848 0 0 0 523.072 768c15.488 0 28.16-4.928 38.72-14.784a51.52 51.52 0 0 0 16.192-38.72 51.968 51.968 0 0 0-15.488-38.016 55.936 55.936 0 0 0-39.424-14.784z"/%3E%3C/svg%3E')
    no-repeat;
}

.header-team-link {
  transition: opacity 0.2s ease-in-out;
}

.header-team-link:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.header-team-link:before {
  content: " ";
  width: 26px;
  height: 26px;
  display: flex;
  background: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="utf-8"%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width="26px" height="26px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M12.7848 0.449982C13.8239 0.449982 14.7167 1.16546 14.9122 2.15495L14.9991 2.59495C15.3408 4.32442 17.1859 5.35722 18.9016 4.7794L19.3383 4.63233C20.3199 4.30175 21.4054 4.69358 21.9249 5.56605L22.7097 6.88386C23.2293 7.75636 23.0365 8.86366 22.2504 9.52253L21.9008 9.81555C20.5267 10.9672 20.5267 13.0328 21.9008 14.1844L22.2504 14.4774C23.0365 15.1363 23.2293 16.2436 22.7097 17.1161L21.925 18.4339C21.4054 19.3064 20.3199 19.6982 19.3382 19.3676L18.9017 19.2205C17.1859 18.6426 15.3408 19.6754 14.9991 21.405L14.9122 21.845C14.7167 22.8345 13.8239 23.55 12.7848 23.55H11.2152C10.1761 23.55 9.28331 22.8345 9.08781 21.8451L9.00082 21.4048C8.65909 19.6754 6.81395 18.6426 5.09822 19.2205L4.66179 19.3675C3.68016 19.6982 2.59465 19.3063 2.07505 18.4338L1.2903 17.1161C0.770719 16.2436 0.963446 15.1363 1.74956 14.4774L2.09922 14.1844C3.47324 13.0327 3.47324 10.9672 2.09922 9.8156L1.74956 9.52254C0.963446 8.86366 0.77072 7.75638 1.2903 6.8839L2.07508 5.56608C2.59466 4.69359 3.68014 4.30176 4.66176 4.63236L5.09831 4.77939C6.81401 5.35722 8.65909 4.32449 9.00082 2.59506L9.0878 2.15487C9.28331 1.16542 10.176 0.449982 11.2152 0.449982H12.7848ZM12 15.3C13.8225 15.3 15.3 13.8225 15.3 12C15.3 10.1774 13.8225 8.69998 12 8.69998C10.1774 8.69998 8.69997 10.1774 8.69997 12C8.69997 13.8225 10.1774 15.3 12 15.3Z" fill="rgba(240,240,240)"/%3E%3C/svg%3E')
    no-repeat;
}

.header-faq-link svg {
  display: none;
}

.header-kofi-link {
  transition: opacity 0.2s ease-in-out;
}

.header-kofi-link:hover {
  opacity: 0.7;
  cursor: alias;
  transition: opacity 0.2s ease-in-out;
}

.header-kofi-link:before {
  content: " ";
  width: 27px;
  height: 27px;
  display: flex;
  background: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="utf-8"%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width="27px" height="27px" viewBox="0 0 24 24" fill="rgba(240,240,240)" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M16.44 3.10156C14.63 3.10156 13.01 3.98156 12 5.33156C10.99 3.98156 9.37 3.10156 7.56 3.10156C4.49 3.10156 2 5.60156 2 8.69156C2 9.88156 2.19 10.9816 2.52 12.0016C4.1 17.0016 8.97 19.9916 11.38 20.8116C11.72 20.9316 12.28 20.9316 12.62 20.8116C15.03 19.9916 19.9 17.0016 21.48 12.0016C21.81 10.9816 22 9.88156 22 8.69156C22 5.60156 19.51 3.10156 16.44 3.10156Z" fill="rgba(240,240,240)"/%3E%3C/svg%3E')
    no-repeat;
}

.header-kofi-link svg {
  display: none;
}

.header-server-link {
  transition: opacity 0.2s ease-in-out;
}

.header-server-link:hover {
  opacity: 0.7;
  cursor: alias;
  transition: opacity 0.2s ease-in-out;
}

.header-server-link:before {
  content: " ";
  width: 26px;
  height: 26px;
  display: flex;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><polygon fill="rgba(240,240,240)" points="5,45 9,34 21,22 15,45"/><polygon fill="rgba(240,240,240)" points="25,18 33,45 43,45 32,12"/><polygon fill="rgba(240,240,240)" points="16.059,14.164 20,3 28,3"/><polygon fill="rgba(240,240,240)" points="10.731,29.002 23,17 23,15 11.58,26.667"/><polygon fill="rgba(240,240,240)" points="15.142,16.429 13,22 29.724,5.725 28.818,3.178"/><polygon fill="rgba(240,240,240)" points="23.932,14.055 24.377,15.626 30.941,9.178 30.385,7.702"/></svg>');
}

.header-server-link svg {
  display: none;
}

.header-discord-link {
  transition: opacity 0.2s ease-in-out;
}

.header-discord-link:hover {
  opacity: 0.7;
  cursor: alias;
  transition: opacity 0.2s ease-in-out;
}

.header-discord-link:before {
  content: " ";
  width: 26px;
  height: 26px;
  display: flex;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgba(240,240,240)" d="M20.317 4.37a19.791 19.791 0 0 0-4.885-1.515a.074.074 0 0 0-.079.037c-.21.375-.444.864-.608 1.25a18.27 18.27 0 0 0-5.487 0a12.64 12.64 0 0 0-.617-1.25a.077.077 0 0 0-.079-.037A19.736 19.736 0 0 0 3.677 4.37a.07.07 0 0 0-.032.027C.533 9.046-.32 13.58.099 18.057a.082.082 0 0 0 .031.057a19.9 19.9 0 0 0 5.993 3.03a.078.078 0 0 0 .084-.028a14.09 14.09 0 0 0 1.226-1.994a.076.076 0 0 0-.041-.106a13.107 13.107 0 0 1-1.872-.892a.077.077 0 0 1-.008-.128a10.2 10.2 0 0 0 .372-.292a.074.074 0 0 1 .077-.01c3.928 1.793 8.18 1.793 12.062 0a.074.074 0 0 1 .078.01c.12.098.246.198.373.292a.077.077 0 0 1-.006.127a12.299 12.299 0 0 1-1.873.892a.077.077 0 0 0-.041.107c.36.698.772 1.362 1.225 1.993a.076.076 0 0 0 .084.028a19.839 19.839 0 0 0 6.002-3.03a.077.077 0 0 0 .032-.054c.5-5.177-.838-9.674-3.549-13.66a.061.061 0 0 0-.031-.03M8.02 15.33c-1.182 0-2.157-1.085-2.157-2.419c0-1.333.956-2.419 2.157-2.419c1.21 0 2.176 1.096 2.157 2.42c0 1.333-.956 2.418-2.157 2.418m7.975 0c-1.183 0-2.157-1.085-2.157-2.419c0-1.333.955-2.419 2.157-2.419c1.21 0 2.176 1.096 2.157 2.42c0 1.333-.946 2.418-2.157 2.418"/></svg>')
    no-repeat;
}

.header-discord-link svg {
  display: none;
}

/* navbar search */
:root {
  --search-local-modal-background: #0a0a0a;
  --search-local-highlight-color: #3a3a3c;
  --ifm-navbar-item-padding-horizontal: 0.3vw !important;
  --search-local-modal-shadow: inset 1px 0px 0 0 #0a0a0a,
    1px 1px 1px 1px #0a0a0a;
}

.navbar__search {
  margin-left: 0.15vw !important;
}

.navbar__search-input {
  background-color: #222222;
  outline: none !important;
}

/* footer */
.footer {
  background-color: #0a0a0a;
  padding: 1vh 0vh 1vh 0vh !important;
}

.footer__logo {
  max-height: 5.5vh;
  max-width: none !important;
  margin-top: 0 !important;
  transition: transform 0.2s;
}

.footer__logo:hover {
  transform: scale(1.02);
}

.footer__copyright {
  font-size: 1.35vh;
  font-weight: 400 !important;
  font-family: "Montserrat", sans-serif;
}

.footer__copyright a {
  color: inherit !important;
  text-decoration: none;
}

.footer__copyright a:hover {
  cursor: alias;
  text-decoration: none;
}

.margin-bottom--sm {
  margin-bottom: 0 !important;
}

/* updates */
.col[class*="col--7"] {
  border-radius: 1vh;
  background-color: #171717;
}

.prism-code {
  background-color: #3a3a3c !important;
}

.margin-bottom--xl {
  margin-bottom: 2rem !important;
}

.docusaurus-mt-lg {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.markdown {
  margin-top: 1.5vh !important;
}

.margin-vert--md {
  margin: 0 0 0 0 !important;
}

.avatar {
  column-gap: 8px;
}

.avatar__name {
  font-size: 20px !important;
}

.avatar__subtitle {
  color: #afafaf;
  margin-top: 0 !important;
}

time:before {
  content: "Released on " !important;
}

/* team page */
.rowmiddle {
  justify-content: center !important;
}

.rowteam {
  margin: 1vh;
  border-radius: 0.7vh;
  background-color: #171717;
}

.cardcolor {
  background-color: #333334;
  transition: transform 0.2s;

  /* remove text highlight */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cardcolor:hover {
  transform: scale(1.01);
}

.cardgrouptitle {
  /* min-width: var(--ifm-container-width-xl); */
  width: var(--ifm-container-width-xl);

  padding: 0px;
  margin: 0px;

  color: white;
  font-size: 4.5rem;
  text-align: center !important;
  font-family: "Luckiest Guy", cursive;
}

@media only screen and (max-width: 455px) {
  .cardgrouptitle {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 415px) {
  .card__footer {
    display: none !important;
  }
}

.row__avatar__name {
  margin-top: 0.4vh !important;
  margin-bottom: 0px !important;
}

.row__avatar__title {
  color: #afafaf;
  margin-bottom: 0px !important;
}

.card__body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.buttondiscord {
  border: none !important;
  color: white !important;
  transition: opacity 0.2s ease-in-out;
  background-color: #5865f2 !important;
}

.buttondiscord:hover {
  opacity: 0.8;
  border: none !important;
  transition: opacity 0.2s ease-in-out;
  background-color: #5865f2 !important;
}

.buttongithub {
  border: none !important;
  color: black !important;
  transition: opacity 0.2s ease-in-out;
  background-color: #f3f3f3 !important;
}

.buttongithub:hover {
  opacity: 0.8;
  border: none !important;
  transition: opacity 0.2s ease-in-out;
  background-color: #f3f3f3 !important;
}

.buttonsteam {
  border: none !important;
  color: white !important;
  transition: opacity 0.2s ease-in-out;
  background-color: #0a4d7f !important;
}

.buttonsteam:hover {
  opacity: 0.8;
  border: none !important;
  transition: opacity 0.2s ease-in-out;
  background-color: #0a4d7f !important;
}

/* overwrites */
.padding-top--md {
  padding-top: 1.75rem !important;
}
